* {
    margin:0;
    paddin:0;
    font-family: "Mark Pro";
}

/* --HEADER */

header {
    background-color: #0F1922;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #232526ff;
}

.header {
    display:flex;
    flex-direction: row;
    gap: 30px;
}

.logo_mobile {
    display: none;
}

header a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #FC4E63;
}

/* -- Contenue du main accueil */

.presentation_accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #232526ff;
}

main {
    background-color: #0F1922;
    color: white;
}

.titre h1 {
    font-size: 55px;
    text-align: center;
}

.titre {
    padding: 20px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-self: anchor-center;
    gap: 30px;
}

.presentation {
display: flex;
flex-direction: column;
justify-content: center;
width: 30vw;
padding: 20px;
border: 2px solid #232526ff;
border-radius: 20px;
background-color: #b5a1a1ff;
align-items: center;
gap: 20px;
color: #0F1922;
margin-bottom: 20px;
}



/* LIEN REGLE DU JEU */

video {
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.6); 
}

.btn_jeu {
    background-color: #FC4E63;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    border-radius: 15px;
    width: 15vw;
    text-align: center;
}

.btn_jeu:hover {
    background-color: #a21424ff;
}


.regle_presentation {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #232526ff;
    padding: 20px;

}

.desc_video {
    display:flex;
    flex-direction: row;
}

.desc_video p {
    width: 40vw;
    font-size: 20px;
}

.desc_btn {
    display:flex;
    flex-direction: column;
    align-items:center;
    gap: 20px;
}

/* LIEN evenement */

.events {
    height: 300px; /* hauteur de la bannière */
    background: url('./icon/banner.jpeg') no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    gap: 20px;
    }

.events_text {
    width: 50vw;
    background-color: #f7f7f768;
    color: black;
    border-radius: 10px;
}

.btn_events {
    background-color: #FC4E63;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
    border-radius: 15px;
    width: 20vw;
    text-align: center;
}

.btn_events:hover {
    background-color: #a21424ff;
}

/* RESEAU SOCIAUX */

.reseau_sociaux {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid #232526ff;

}

.icon {
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.2);
}

/* FOOTER */

footer {
    display:flex;
    flex-direction: row;
    background-color: #0F1922;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

.footer {
    display:flex;
    flex-direction: row;
    gap: 15px;
}

.logo_footer {
    width: 50px;
    height: 50px;
}

.footer_text {
    gap: 10px;
}

/* -- TABLETTE RESPONSIVE */

@media (max-width: 850px) {
    .logo_valorant {
        height: 50px;
        width:300px;
}

.titre h1 {
    font-size: 40px;
}

/* FOOTER */

 footer p {
    width: 50vw;
 }
}

@media (max-width: 750px) {
    .logo_mobile {
    display: block;
    height: 50px;
    width: 50px;
}

.logo_valorant {
    display: none;
}

.header {
    gap: 15px;
}
}

/* -- MOBILE RESPONSIVE */

@media (max-width: 460px) {
    .logo_mobile {
    height: 20px;
    width: 20px;
}

.titre h1 {
    font-size: 35px;
}

.card {
    display: flex;
    flex-direction: column;

}

.presentation {
    width: 80vw;
}

video {
    display: none;
}

.desc_video p {
    width: 90vw;
    font-size: 20px;
}

.events {
    height:400px;
}

.btn_jeu {
    width: 80vw;
}

.events_text {
    width: 90vw;
}

.btn_events {
    width: 90vw;

}

footer {
    flex-direction: column;
    gap: 30px;
}

}

@media (max-width: 325px) {
    .logo_mobile {
    display: none;
}
}